.main {
    background-color: #bb271b;
    font-family: Inter;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
}

.company_name {
    color: #FFF;
    font-feature-settings: 'dlig' on, 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    text-transform: uppercase;
    padding: 0px 0px 25px 0px;
}

.second_heading {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 180%;
    padding: 0px 0px 15px 0px;
    /* 43.2px */
}

.text {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    padding: 0px 0px 0px 0px;
    cursor: pointer;
}

.sitemap_container {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    text-transform: capitalize;
    display: flex;
    gap: 20px;
    padding: 0px 0px 15px 0px;
    cursor: pointer;

}

.divider {
    width: 100%;
    height: 1px;
    background-color: #FFF;
    opacity: 0.4;
    margin: 0px 0px 30px 0px;
}

.section1 {
    width: 45%;
}