.text {
    color: #2D2D2D;
    /* text-align: center; */
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    display: flex;
    justify-content: center;
    line-height: normal;
    text-transform: capitalize;
    line-height: 1.5;
}

.conatainer {
    padding: 20px 0px;
    font-family: Inter;
    font-size: 16.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    text-align: justify;
    line-height: 1.5;
}

.main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 50px 100px;
    line-height: 1.5;
}

.main_text {
    text-transform: uppercase;
    font-weight: 800px;
    color: #345E40;
    line-height: 1.5;

}

.get_in_touch {
    font-size: 22px;
    font-weight: 700;
    color: #345E40;
    line-height: 1.5;
    font-family: Inter;
}

.image {
    width: 400px;
    height: 400px;
    margin-top: 75px;

    border-radius: 5%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.link {
    color: blue;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-family: Inter;
    text-decoration: none;
    cursor: pointer;
    ;
}

.mail_container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: justify;
    line-height: 1.5;

}

.mail_input {
    border: 1px, solid red;
    height: 50px;
    font-family: Inter;
    gap: 20px;
    display: flex;
}

.input_feild {
    border: 1px solid #345E40;
    width: 200px;
    padding: 10px;
}



.input_feild_two {
    border: 1px solid #345E40;
    width: 342px;
    padding: 60px;
}

.button_style {
    background-color: #345E40;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-family: Inter;
    text-decoration: none;
    cursor: pointer;
    ;
}

.jj {
    background-image: url(../../assets/images/asdfghj.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;

}