.main_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: Inter;
}

.option_container {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 600px;
    color: white;
    cursor: pointer;
}

.gomti {
    font-size: 20px;
    cursor: pointer;
    font-weight: 800;
    color: #bb271b;
}

.infra {

    font-size: 20px;
    Color: #bb271b;
}